<div class="container">

	<div class="d-none d-lg-block">
		<br/><br/><br/><br/><br/>
	</div>

	<div class="row">

		<div *ngIf="failed" class="col-sm-12">
			<p><ngb-alert type="danger">Login failed</ngb-alert></p>
		</div>

		<div class="col-sm-12 col-lg-4 offset-lg-2 text-center bg-secondary">
			<br/><br/>
			<img src="assets/logo_coordinator.png" alt="" class="img-fluid" width="164">
			<br/><br/>
			<h1 class="h1 text-white">{{title}}<br/><small class="text-white">{{subtitle}}</small></h1>
			<p class="text-light">Copyright &copy; Coordinator.it</p>
			<!--<br/><br/><br/>
			<p class="text-light">Login Service: {{}}</p>-->
			<br/>
		</div>

		<div class="col-sm-12 col-lg-4 border border-secondary">

			<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

				<br/><br/>

				<div class="mb-3">
					<select class="form-select form-select-lg mb-3" formControlName="handler" id="handler">
						<option value="local">LOCAL</option>
						<option value="cas">CAS</option>
					</select>
					<label for="handler" class="form-label"><small class="text-muted">Select your authentication handler.</small></label>
				</div>

				<div class="mb-3">
					<input type="text" class="form-control form-control-lg" placeholder="Account" formControlName="account" id="account">
					<label for="account" class="form-label"><small class="text-muted">Never share your account with anyone else.</small></label>
				</div>

				<div class="mb-3">
					<input type="password" class="form-control form-control-lg" placeholder="Password" formControlName="password" id="password" autofocus>
					<label for="password" class="form-label"><small class="text-muted">We will never ask you for your password.<br/>Do not share it with anyone.</small></label>
				</div>

				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" formControlName="remember" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">Remember account</label>
				</div>

				<br/>

				<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid||trying">
					<span *ngIf="trying" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					<span *ngIf="!trying">Sign in</span>
				</button>

				<br/><br/>

			</form>

		</div>
	</div>
</div>
