<div class="container">

	<h1 class="h1">{{fullname}}</h1>

	<dl class="row">
		<dt class="col-sm-3">UID</dt>
		<dd class="col-sm-9">{{uid}}</dd>

		<dt class="col-sm-3">Account</dt>
		<dd class="col-sm-9">{{account}}</dd>

		<dt class="col-sm-3">Firstname</dt>
		<dd class="col-sm-9">{{firstname}}</dd>

		<dt class="col-sm-3">Lastname</dt>
		<dd class="col-sm-9">{{lastname}}</dd>

		<dt class="col-sm-3">Gender</dt>
		<dd class="col-sm-9">{{gender}}</dd>

	</dl>

	<h2>Handlers</h2>

	<dl class="row" *ngFor="let handler of handlers_objs">

		<dt class="col-sm-3">Handler</dt>
		<dd class="col-sm-9">{{handler.handler}}</dd>

		<dt class="col-sm-3">Identifier</dt>
		<dd class="col-sm-9">{{handler.identifier}}</dd>

		<dt class="col-sm-3">Enabled</dt>
		<dd class="col-sm-9">{{handler.enabled}}</dd>

	</dl>

	<a role="button" class="btn btn-primary" [ngClass]="{'disabled' : !update_action.length}" href="/Profile/Update">Update</a>

</div>
